.companyContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

h2 {
  color: #555;
  font-size: 1.5em;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul > li {
  margin-bottom: 10px;
  color: #666;
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 20px;
}

ul > li > ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
}

ul > li > ul > li {
  color: #666;
  font-size: 0.9em;
}

strong {
  color: #333;
}

pre {
  background-color: #333;
  color: plum;
  padding: 2px;
  width: fit-content;
  margin: 5px 0;
}
